[submodule "DuckDB/duckdb-vss/duckdb"]
	path = DuckDB/duckdb-vss/duckdb
	url = https://github.com/duckdb/duckdb.git
[submodule "DuckDB/duckdb-vss/extension-ci-tools"]
	path = DuckDB/duckdb-vss/extension-ci-tools
	url = https://github.com/duckdb/extension-ci-tools.git
[submodule "PostgreSQL/pgvector/postgres"]
	path = PostgreSQL/pgvector/postgres
	url = https://github.com/postgres/postgres.git
	branch = REL_16_STABLE
[submodule "PostgreSQL/VBASE/MSVBASE"]
	path = PostgreSQL/VBASE/MSVBASE
	url = https://github.com/microsoft/MSVBASE.git
