[submodule "DuckDB/duckdb-vss/duckdb"]
	path = DuckDB/duckdb-vss/duckdb
	url = https://github.com/duckdb/duckdb.git
[submodule "DuckDB/duckdb-vss/extension-ci-tools"]
	path = DuckDB/duckdb-vss/extension-ci-tools
	url = https://github.com/duckdb/extension-ci-tools.git
[submodule "PostgreSQL/pg_hint_plan"]
	path = PostgreSQL/pg_hint_plan
	url = https://github.com/ossc-db/pg_hint_plan.git